<?xml version="1.0"?>
<robot name="mockup" xmlns:xacro="http://ros.org/wiki/xacro">

  <gazebo reference="base_link">
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <!-- <gazebo reference="wheel_lf_Link">
    <mu1>1000000</mu1>
    <mu2>1000000</mu2>
    <kp>500000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>1.0</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="wheel_rf_Link">
    <mu1>1000000</mu1>
    <mu2>1000000</mu2>
    <kp>500000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>1.0</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/DarkGrey</material>
  </gazebo> -->
    <gazebo reference="wheel_lf_Link">
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="wheel_rf_Link">
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <material>Gazebo/DarkGrey</material>
  </gazebo>
  
  <gazebo reference="wheel_lb_Link">
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="wheel_rb_Link">
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <material>Gazebo/DarkGrey</material>
  </gazebo>
  <!-- <gazebo>
  <plugin name="skid_steer_drive_controller" filename="libgzebo_ros_skid_steer_drive.so">
    <updateRate>100.0</updateRate>
    <robotNamespace></robotNamespace>
    <leftFrontJoint>wheel_lf_joint</leftFrontJoint>
    <rightFrontJoint>wheel_rf_joint</rightFrontJoint>
    <leftRearJoint>wheel_lb_joint</leftRearJoint>
    <rightRearJoint>wheel_rb_joint</rightRearJoint>
    <wheelSeparation>0.24</wheelSeparation>
    <wheelDiameter>0.08</wheelDiameter>
    <torque>1000</torque>
    <commandTopic>cmd_vel</commandTopic>
    <odometryTopic>odom</odometryTopic>
    <odometryFrame>odom</odometryFrame>
    <robotBaseFrame>dummy</robotBaseFrame>
    <publishWheelTF>false</publishWheelTF>
    <publishOdom>true</publishOdom>
    <publishWheelJointState>true</publishWheelJointState>
    <corvariance_x>0.0001</corvariance_x>
    <corvariance_y>0.0001</corvariance_y>
    <corvariance_yaw>0.01</corvariance_yaw>
  </plugin>
  <gazebo> -->
  <!-- <gazebo>
    <plugin name="mybot_controller" filename="libgazebo_ros_diff_drive.so">
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <odometrySource>world</odometrySource>
      <publishOdomTF>true</publishOdomTF>
      <robotBaseFrame>dummy</robotBaseFrame>
      <publishWheelTF>false</publishWheelTF>
      <publishTf>true</publishTf>
      <publishWheelJointState>true</publishWheelJointState>
      <legacyMode>false</legacyMode>
      <updateRate>30</updateRate>
      <leftJoint>wheel_lf_joint</leftJoint>
      <rightJoint>wheel_rf_joint</rightJoint>
      <wheelSeparation>0.24</wheelSeparation>
      <wheelDiameter>0.08</wheelDiameter>
      <wheelAcceleration>10</wheelAcceleration>
      <wheelTorque>100000</wheelTorque>
      <rosDebugLevel>na</rosDebugLevel>
    </plugin>
  </gazebo> -->
  
</robot>
